<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Borrar Minijuego</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Borrar Minijuego</h1>
        <form action="../clases/crudBorrar.php" method="post">
            <fieldset>
                <p> 
                    <label for="id">ID del minijuego a borrar:</label>
                    <input type="text" name="idMinijuego"><br>
                    <input type="submit" value="Borrar Mini-Juego">
                </p>
            </fieldset>
        </form>
    </body>
</html>